<div class="check-requests">
  <div class="card" style="width: 100%;">
    <div class="group-reviews">
      <div class="card-body">
        <h2 class="card-title"> Grupos creados por mí </h2>
        <br>
        <div class="container">
          <ul class="list-group">
            <% @groups.where(user_id: current_user.id).each do |group| %>
              <a href=/groups/<%= group.id %> class="list-group-item list-group-item-action d-flex justify-content-between">
                <small class="small-font"> <%= group.name %> </small>
              </a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="check-requests">
  <div class="card" style="width: 100%;">
    <div class="group-reviews">
      <div class="card-body">
        <h2 class="card-title"> Grupos a los que pertenezco </h2>
        <br>
        <div class="container">
          <ul class="list-group">
            <% Group.all.each do |group| %>
              <% if is_group_member(group) and current_user.id != group.user_id%>
                <a href=/groups/<%= group.id %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <small class="small-font"> <%= group.name %> </small>
                </a>
              <% end %>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<br>
