<div id="chat-room-div">
    <form id="new-message-form" style="display: none">
        <label>New Message: </label><br>
        <input type="text">
        <button type="submit">Send Message</button>
        <br><br>
    </form>
    <div id="messages-list">

    </div>
</div>
<script src="chat_room.js"></script>
<%# <script src="index.js"></script> %>