body {
    background: rgb(202, 202, 236);
    background-repeat: repeat;
    background-size: cover;
    place-content: center;
    
}

body.unsigned-view {
    height: 90vh;
    margin-top: 6vh; /* AND YOU GUYS CAN JUDGE ME ALL YOU WANT */
    margin-bottom: 6vh; /* BUT I'VE NEVER EVER BEEN HAPPIER */
}


.logo-and-brand {
    font-size: 2.25rem;
    
}

.unsigned-user {
    text-align: center;
}

.custom-image {
    width: 20vh; 
    height: auto; 
    min-width: 100px;

}

.description {
    text-align: center;
}

.slogan {
    font-size: 30px;
    color: #333;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.light-green-button {
    background-color: #21be33; 
}

.sign-in-view {
    text-align: center;

}

.login-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2rem;

    height: 80vh;
    margin-top: 4%;


}