<div class="container-fixed">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Conecta</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Inicio", home_index_path, class:"nav-link active", aria: { current: "page"  } %>
          </li>
          <li class="nav-item">
            <%= link_to "Actividades", activity_index_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Grupos", groups_path, class:"nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto justify-content-end mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nombreusuario/imagen de perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mis solicitudes</a></li>
              <li><a class="dropdown-item" href="#">Editar perfil</a></li>
              <li><a class="dropdown-item" href="#">Mis grupos</a></li>
              <li><a class="dropdown-item" href="#">Mis actividades</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <%# <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> %>
      </div>
    </div>

  </nav>
</div>